body {
  color: #333;
  padding: 20px;
  text-align: center;
  font-family: Arial;
}

label {
  margin-right: 30px;
  font-size: 24px;
}

.margin {
  margin: 70px 0;
}

/* 3D Cube */

.view_3d {
  width: 250px;
  height: 250px;
  display: inline-block;
  text-align: center;
  perspective: 1000px;
}

.cube_3d {
  width: 100%;
  height: 100%;
  display: inline-block;  
  text-align: center;
  position: relative; 
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.pane {
  position: absolute; 
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  opacity: 0.8;
}

figure {
  color: white;
}


/* 3D Cube Creation */

.front {
  background: red;
  opacity: 60%;
  z-index: 2;
  transform: translate3d(0,0,125px);
}

.back { 
 background: blue;
 opacity: 60%;
 transform: rotateY(180deg) translate3d(0,0,125px);
}

.left {
  background: green;
  opacity: 60%;
  transform: rotateY(-90deg) translate3d(0,0,125px);
}
  
.right {
  background: yellow;
  opacity: 60%;
  transform: rotateY(90deg) translate3d(0,0,125px);
}
  
.top { 
  background: purple;
  opacity: 60%;
  transform: rotateX(90deg) translate3d(0,0,125px);
}
  
.bottom {    
  background: cyan;
  opacity: 60%;
  transform: rotateX(-90deg) translate3d(0,0,125px);
}
  

/* 3D Cube Transformation */

#front:checked ~ .view_3d ~.cube_3d  {
  transform: rotateY(0deg);
}

#left:checked ~ .view_3d .cube_3d  {
 transform: rotateY(90deg);
}
  
#right:checked ~ .view_3d .cube_3d  {
  transform: rotateY(-90deg);
}
  
#bottom:checked ~ .view_3d .cube_3d {
  transform: rotateX(90deg);
}

#top:checked ~ .view_3d .cube_3d  {
  transform: rotateX(-90deg);
}
  
#back:checked ~ .view_3d .cube_3d  {
  transform: rotateY(180deg);
}

/* Backface-visibility */

#hidden:checked ~ .view_3d .cube_3d .pane {
  backface-visibility: hidden;
}

#visible:checked ~ .view_3d .cube_3d .pane {
  backface-visibility: visible;
}





